{% extends 'administrativo.html' %}
{% block content %}
	<section class="content-header">
		<h1>Nova Organização</h1>
		<ol class="breadcrumb">
        	<li><a href="{% url 'administrativo:manager' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        	<li><a href="{% url 'administrativo:organizacao:organization' %}"><i class="fa fa-th"></i>Organizações</a></li>
        	<li class="active">New</li>
      	</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<form role="form" method="POST" action="{% url 'administrativo:organizacao:new_organization' %}">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" name="" value="Salvar" class="btn btn-success pull-right">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
